<div>
    <h5 style="text-align:center;color:steelblue"><strong>Dispositivos</strong></h5>
</div>


<div class="row">


    <div class="col l4 m6 s12" *ngFor="let dispositivo of dispositivosAll">

        <div class="row">
            <div class="col s12 m12">
                <div class="card hoverable blue-grey darken-4">
                    <div class="card-content">
                        <span class="card-title activator white-text"
                            style="font-size:medium"><strong>{{dispositivo.Nombre}}</strong><i
                                class="material-icons right">more_vert</i></span>
                        <div class="switch center-align">
                            <label>
                                <span
                                    [ngStyle]="{'font-weight': dispositivo.Estado==0? 'bold':'normal','color' : dispositivo.Estado==0?'white':'gray'}">Off</span>
                                <input type="checkbox" id="{{dispositivo.IdDispositivo}}"
                                    (change)="actualizar(disp1.id,disp1.checked);" #disp1
                                    [checked]="dispositivo.Estado == 1 ? true : false">
                                <span class="lever" data-on="Encendido"></span>
                                <span
                                    [ngStyle]="{'font-weight': dispositivo.Estado==1? 'bold':'normal','color' : dispositivo.Estado==1?'white':'gray'}">On</span>
                            </label>
                        </div>
                    </div>

                    <div class="card-action">
                        <span class="valign-wrapper  white-text" style="font-size:small;justify-content:center"><i
                                id="icomsj0" class="material-icons "
                                [ngStyle]="{'color' : dispositivo.Estado==1?'yellow':'gray'}">notifications</i><span
                                id="notificacion0">{{ dispositivo.Estado==1 ? 'Dispositivo Encendido':'Dispositivo Apagado'}}</span></span>
                    </div>
                    <div class="card-reveal center-align">
                        <strong> <span class="card-title grey-text text-darken-4" style="font-size:medium">Cambiar
                                Nombre<i class="material-icons right">close</i></span></strong>
                        <form action="" method="POST">
                            <input type="text" name="txtnombredis{{dispositivo.IdDispositivo}}"
                                id="txtnombredis{{dispositivo.IdDispositivo}}" value=""
                                [(ngModel)]="dispositivo.Nombre">
                            <input type="submit" name="dis1" value="Guardar"
                                style="font-size:medium;background-color: #01579b;"
                                class="btn btn-small card-title text-white">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let estado of EstadoDis">
    <input  type="text" name="" id="val{{estado.iddispositivo}}" value="estado.estado" >
</div>
<script>


</script>