<!-- <div class="row">
    <div class="col-sm-4" *ngFor="let dispositivos of dispositivosAll">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header ">{{dispositivos.Nombre}}</div>
            <div class="card-body">
                <input type="checkbox" checked data-toggle="toggle" [checked]="dispositivos.Estado == 1 ? true : false" data-on="Encendido" data-off="Apagado" data-onstyle="success" data-offstyle="danger">
            </div>
            <div class="card-footer">
                <p *ngIf="dispositivos.Estado==0; else activo">Dispositivo Desactivado</p>
                <ng-template #activo>
                    <p>Dispositivo Activado</p>
                </ng-template>
            </div>
        </div>
    </div>
</div> -->